<div class="header">

</div>
<div class="tous">
  <input type="text" class="simple-input" matInput (keyup)="applyFilter($event)" placeholder="Rechercher...">
  <select [(ngModel)]="statusFilter" (change)="applyStatusFilter()" class="status-filter">
    <option value="">Tous les statuts</option>
    <option value="0">En attente</option>
    <option value="1">Terminé</option>
  </select>
  <div class="buttons-container">
    <button class="styled-add" (click)="AddRendezVousDialog()">
      Ajouter un RendezVous
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="vetId">
      <th mat-header-cell *matHeaderCellDef>Nom veterinaire </th>
      <td mat-cell *matCellDef="let element"> {{element.veterinaire.userName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="clientId">
      <th mat-header-cell *matHeaderCellDef>Nom client </th>
      <td mat-cell *matCellDef="let element"> {{element.client.userName}} </td>
    </ng-container>
  

    <!-- Weight Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> date </th>
        <td mat-cell *matCellDef="let element"> {{ element.date | date:'dd/MM/yyyy HH:mm' }} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Statut </th>
        <td mat-cell *matCellDef="let element">
          <div class="status">
            {{ element.status === 0 ? 'En attente' : element.status === 1 ? 'Terminé' : element.status }}
          </div>
        </td>
      </ng-container>
      <select [(ngModel)]="statusFilter" (change)="applyStatusFilter()" class="status-filter">
        <option value="">Tous les statuts</option>
        <option value="0">En attente</option>
        <option value="1">Terminé</option>
      </select>
      
      
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <!-- Bouton Edit -->
        <button mat-icon-button color="primary" class="edit"
        (click)="UpdateRendezVousDialog(element)"
        (click)="$event.stopPropagation()">
  <mat-icon class="mt-edit">edit</mat-icon>
</button>

        <!-- Bouton Delete -->
        <button mat-icon-button color="warn" (click)="deleteRendezVous(element.id); $event.stopPropagation()"
          class="delete">
          <mat-icon class="mt-edit">delete</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
