<mat-toolbar class="navbar">
    <span class="app-name"></span>
  
    <span class="spacer"></span>
  
    <!-- Icône de notification -->
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
  
    <!-- Icône profil avec menu -->
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>account_circle</mat-icon>
</button>
{{ userEmail }}

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="modifierCompte()">
    See your profile
  </button>
  <button mat-menu-item (click)="logout()">
    Déconnexion
  </button>
</mat-menu>

  </mat-toolbar>
  