.navbar {
    position: fixed;
    top: 0;
    left: 5rem; /* valeur par défaut */
    right: 0;
    z-index: 998;
    height: 60px;
    background: linear-gradient(135deg, #8BC53F, #8BC53F);
    display: flex;
    align-items: center;
    padding: 0 24px;
    transition: left 0.4s ease;
  }
  
  body.sidebar-expanded .navbar {
    left: 16.5625rem; /* décale la navbar quand sidebar est élargie */
  }
  

.navbar:hover {
    background: linear-gradient(135deg, #8BC53F, #8BC53F);
}

.app-name {
    font-weight: 700;
    font-size: 1.5rem;
    user-select: none;
}

.spacer {
    flex: 1;
}

button[mat-icon-button] {
    color: white;
    transition: color 0.3s ease, transform 0.2s ease;
}

button[mat-icon-button]:hover {
    color: #d1c4e9;
    transform: scale(1.1);
}

mat-icon {
    font-size: 28px;
}

mat-menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.user-email {
    margin-left: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    user-select: none;
    color: #e0e0e0;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
