<h2>Ajouter un Rendez-vous</h2>

<form [formGroup]="rendezVousForm" (ngSubmit)="onSubmit()">
  <!-- Vétérinaire -->
  <mat-form-field class="full-width">
    <mat-label>Vétérinaire</mat-label>
    <mat-select formControlName="vetId">
      <mat-option *ngFor="let vet of veterinare" [value]="vet.vetId">
        {{ vet.userName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <!-- Client -->
  <mat-form-field class="full-width">
    <mat-label>Client</mat-label>
    <mat-select formControlName="clientId">
      <mat-option *ngFor="let cli of clients" [value]="cli.id">
        (ID: {{ cli.id }})
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Animal -->
  <mat-form-field class="full-width">
    <mat-label>Animal</mat-label>
    <mat-select formControlName="animalId">
      <mat-option *ngFor="let An of animal" [value]="An.id">
        {{ An.id }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <!-- Date -->
  <mat-form-field class="full-width">
    <mat-label>Date du rendez-vous</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Statut -->
  <mat-form-field class="full-width">
    <mat-label>Statut</mat-label>
    <mat-select formControlName="status">
      <mat-option [value]="0">En attente</mat-option>
      <mat-option [value]="1">Terminé</mat-option>
     
    </mat-select>
  </mat-form-field>

  <!-- Actions -->
  <div class="actions">
    <button mat-button (click)="close()">Annuler</button>
    <button mat-raised-button color="primary" >Enregistrer</button>
  </div>
</form>
