<div mat-dialog-content>
    <h2>Ajouter une Consultation</h2>
    
  
    <form [formGroup]="vaccinationForm" (ngSubmit)="onSubmit()">


        <mat-form-field class="full-width">
            <mat-label>name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
      
      <label for="date">Date de consultation</label>
      <input type="date" id="date" formControlName="date" class="form-control" />
  
    
     
  
      <mat-form-field class="full-width">
        <mat-label>animal</mat-label>
        <mat-select formControlName="animalId" required>
          <mat-option *ngFor="let an of animals" [value]="an.id">
            {{ an.race }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="vaccinationForm.get('animalId')?.hasError('required')">
          Le rendez-vous est obligatoire
        </mat-error>
      </mat-form-field>
  
      <div mat-dialog-actions>
        <button mat-button type="button" (click)="close()">Annuler</button>
        <button mat-raised-button color="primary" type="submit">Enregistrer</button>
      </div>
    </form>
  </div>
  